.reservationContainer {
  margin-top: -145px;
  height: 230px;
}
.reservationTabs {
  margin-top: 10px;
  width: 25%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-radius: 20px;
  padding: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.reservationTabs button {
  border-radius: 20px;
  height: 80%;
  width: 50%;
  font-size: 20px;
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reservationTabs button p {
  margin-left: 5px;
}
.clicked {
  background-color: rgb(197, 216, 252) !important;
}
.reservationContent {
  padding: auto;
  height: 90%;
  border-radius: 40px;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 0px;
}
.reserveFrom {
  border: 2px solid rgb(218, 206, 206);
  width: 33%;
  height: 70%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.reserveFrom div {
  display: flex;
  flex-direction: column;
}
.midIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed rgb(131, 122, 122);
  border-radius: 50%;
  padding: 7px;
}
.midIcon {
  color: rgb(131, 122, 122);
  font-size: 25px;
}
.reserveTo {
  border: 2px solid rgb(218, 206, 206);
  width: 45%;
  height: 70%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.reserveTo div {
  display: flex;
  flex-direction: column;
}
.reserveTitle {
  font-size: 18px;
  color: rgb(131, 122, 122);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.reserveLocation {
  font-weight: bold;
  font-size: 23px;
}

.reserveSerach {
  width: 12%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBtn {
  height: 100%;
  width: 100%;
  font-size: 50px;
  background-color: rgb(46, 125, 245);
  border-radius: 43%;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
