.SignUpContainer {
  height: 90%;
  width: 70%;
  margin: 3% 15%;
  display: flex;
  border-radius: 3%;
  box-shadow: rgb(192, 190, 190) 0px 8px 24px;
}
/* ****************** */
.SignUpLeft {
  width: 50%;
  background-color: rgb(253, 252, 252);
  height: 100%;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
}

.leftSubContainer {
  margin: 8% 0% 24% 10%;
  height: 90%;
}
.SignUpLeftUpper {
  margin-bottom: 10%;
}
.SignUpLeftUpper h2 {
  color: rgb(41, 138, 230);
}
.SignUpLeftUpper p {
  color: rgb(178, 185, 192);

  width: 70%;
}
.SignUpLeft img {
  width: 92%;
  height: 260px;
}

/* ****************** */
.SignUpRight {
  width: 50%;
}
.rightSubContainer {
  width: 70%;
  margin: 8% 0% 5% 10%;
}
.selectLangBox {
  display: flex;
  justify-content: right;
}
#LangSelect {
  color: rgb(121, 121, 187);
  border: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  padding: 10px;
  padding-right: 2rem;
}
.SignUpRightUpper {
  margin-bottom: 30px;
}
.SignUpRightUpper p {
  color: rgb(178, 185, 192);
  line-height: 1px;
  font-size: 11px;
}
.SignUpRightUpper h1 {
  line-height: 14px;
  font-size: 28px;
}

.SignUpRightUpper span {
  color: rgb(178, 185, 192);
  font-size: 13px;
}
.SignUpRightUpper span a {
  text-decoration: none;
}
.SignUpRightUpper span a:hover {
  text-decoration: underline;
}
.SignUpRightDowner {
  margin-top: 20px;
}
.rightBottomPrivacy {
  margin-top: 35px;
}
.rightBottomPrivacy p {
  color: rgb(121, 121, 187);
  font-size: 10px;
  line-height: 1px;
}
.rightBottomPrivacy span {
  color: rgb(121, 121, 187);
  font-size: 10px;
  line-height: 1px;
}
.rightBottomPrivacy span a {
  text-decoration: none;
}
.rightBottomPrivacy span a:hover {
  text-decoration: underline;
}
