/* general css */
@font-face {
  font-family: 'Poppins';
  src: url('./assetes/fonts/Poppins-Regular.ttf');
}
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
}

.generalContainer {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
